@import "./common/var";
@import "./common/function";
@import "./layouts/header";
@import "./layouts/inspiration";
@import "./layouts/about";
@import "./layouts/blog";
@import "./layouts/footer";

* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #000000;
  background-image: url("../images/background-01.png"), url("../images/background-02.png"), url("../images/background-03.png");
  background-position: right px2vw(564), left px2vw(2100), right bottom;
  background-size: px2vw(555) px2vw(691), px2vw(308) px2vw(634), px2vw(346) px2vw(490);
  background-repeat: no-repeat;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}

body {
  margin-left: px2vw(142);
  margin-right: px2vw(127);

  @media screen and (max-width: 576px) {
    margin-left: px2vw(100);
    margin-right: px2vw(100);
  }
}