@import "./common/var";
@import "./common/function";
@import "./layouts/header";
@import "./layouts/inspiration";
@import "./layouts/about";
@import "./layouts/blog";
@import "./layouts/footer";

* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #000000;
  background-image: url("../images/background-01.png"), url("../images/background-02.png"), url("../images/background-03.png");
  background-position: right responsive(564), left responsive(2100), right bottom;
  background-size: responsive(555) responsive(691), responsive(308) responsive(634), responsive(346) responsive(490);
  background-repeat: no-repeat;
}

body {
  margin-left: responsive(142);
  margin-right: responsive(127);
}