.about {
  margin-top: px2vw(228);

  @media screen and (max-width: 992px) {
    margin-top: px2rem(228);
  }

  .about-title {
    font-family: HelveticaNeue-Bold;
    font-size: px2vw($title-font-size);
    color: $title-color;
    text-align: center;

    @media screen and (max-width: 992px) {
      font-size: $title-font-size / 16px + rem;
    }
  }

  .about-text {
    margin: px2vw(24) auto;
    margin-bottom: 0;
    max-width: px2vw(960);
    font-family: OpenSans;
    font-size: px2vw($text-font-size);
    line-height: $text-line-height;
    color: $text-color;
    text-align: center;

    @media screen and (max-width: 992px) {
      margin: px2rem(24) auto;
      max-width: 80%;
      font-size: $text-font-size / 16px + rem;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}