.about {
  margin-top: responsive(228);

  .about-title {
    font-family: HelveticaNeue-Bold;
    font-size: responsive($title-font-size);
    color: $title-color;
    text-align: center;
  }

  .about-text {
    margin: responsive(24) auto;
    margin-bottom: 0;
    max-width: responsive(960);
    font-family: OpenSans;
    font-size: responsive($text-font-size);
    color: $text-color;
    text-align: center;
  }
}