.blog {
  margin-top: responsive(228);

  .blog-title {
    font-family: HelveticaNeue-Bold;
    font-size: responsive($title-font-size);
    color: $title-color;
    text-align: center;
  }

  .blog-text {
    margin: responsive(24) auto;
    margin-bottom: 0;
    max-width: responsive(396);
    font-family: OpenSans;
    font-size: responsive($text-font-size);
    color: $text-color;
    text-align: center;
  }

  .blog-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: responsive(108);

    .blog-article {
      width: calc(33.3% - #{responsive(24)});

      .blog-article-image {
        max-width: 100%;
        width: 100%;
      }

      .blog-article-title {
        margin: responsive(24) responsive(16);
        margin-bottom: 0;
        font-family: HelveticaNeue-Bold;
        font-size: responsive(20);
        color: $title-color;
      }
  
      .blog-article-text {
        margin: responsive(24) responsive(16);
        margin-bottom: 0;
        font-family: OpenSans;
        font-size: responsive(16);
        color: $text-color;
      }

      .blog-article-time {
        display: inline-block;
        margin-top: responsive(42);
        margin-left: responsive(16);
        font-family: OpenSans-Light;
        font-size: responsive(16);
        color: $text-color;
      }
    }
  }
}