.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: responsive(180);
  margin-bottom: responsive(54);

  .footer-form-wrapper {
    .form-text {
      margin-bottom: responsive(24);
      font-family: HelveticaNeue-Medium;
      font-size: responsive(18);
      color: #ffffff;
    }

    .form-input {
      vertical-align: top;
      padding-left: responsive(16);
      width: responsive(350);
      height: responsive(48);
      background-color: #ffffff;
      font-family: HelveticaNeue;
      font-size: responsive(16);
    }
  
    .form-btn {
      width: responsive(60);
      height: responsive(48);
      background-color: #ffffff;
      font-family: HelveticaNeue-Medium;
      font-size: responsive(16);
    }
  }

  .footer-copyright {
    margin-bottom: responsive(18);
    font-family: HelveticaNeue-Light;
    font-size: responsive(16);
    color: #ffffff;
  }
}