.header {
  margin-top: responsive(44);

  .nav {
    display: flex;
    align-items: center;

    .logo {
      font-size: responsive(20);
      color: $logo-color;
    }

    .menu {
      display: flex;
      margin-left: auto;
      font-size: responsive(16);
      color: $menu-color;

      li {
        padding: 0 responsive(13);
        cursor: pointer;
      }
    }
  }

  .introduction {
    margin-top: responsive(268);
    max-width: responsive(512);

    .introduction-title {
      font-family: HelveticaNeue-Bold;
      // font-size: 3.125rem;
      font-size: responsive(50);
      color: $title-color;
    }

    .introduction-subtitle {
      margin-top: responsive(12);
      font-family: Lato-Light;
      // font-size: 2.375rem;
      font-size: responsive(38);
      color: $title-color;
    }

    .introduction-text {
      margin-top: responsive(16);
      // font-size: 1rem;
      font-size: responsive(16);
      color: $text-color;
    }
  }
}