.inspiration {
  margin-top: px2vw(328);

  .inspiration-title {
    font-family: HelveticaNeue-Bold;
    font-size: px2vw($title-font-size);
    color: $title-color;
    text-align: center;

    @media screen and (max-width: 992px) {
      margin-top: px2rem(328);
      font-size: $title-font-size / 16px + rem;
    }
  }

  .inspiration-text {
    margin: px2vw(24) auto;
    margin-bottom: 0;
    max-width: px2vw(600);
    font-family: OpenSans;
    font-size: px2vw($text-font-size);
    color: $text-color;
    text-align: center;

    @media screen and (max-width: 992px) {  
      margin: px2rem(24) auto;
      max-width: 80%;
      font-size: $text-font-size / 16px + rem;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  
  .inspiration-images {
    display: grid;
    grid-template-columns: 324fr 12fr 68fr 12fr 324fr 12fr 404fr;
    grid-template-rows: auto px2vw(12) repeat(3, auto);
    margin-top: px2vw(112);

    @media screen and (max-width: 992px) {  
      margin-top: px2rem(112);
    }

    .inspiration-image {
      font-size: 0;
      
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    
    .inspiration-image-1 {
      grid-column: 1 / span 3;
    }

    .inspiration-image-2 {
      grid-column: 5 / span 3;
    }

    .inspiration-image-3 {
      grid-row: 3 / span 3;
    }

    .inspiration-image-4 {
      grid-column: 3 / span 3;
      grid-row: 3
    }

    .inspiration-image-5 {
      grid-column: 7;
      grid-row: 3
    }

    .inspiration-image-6 {
      grid-column: 3 / span 5;
      grid-row: 5;
    }
  }
}