@import "../common/var";

.inspiration {
  margin-top: 328px;

  .inspiration-title {
    font-family: HelveticaNeue-Bold;
    font-size: $title-font-size;
    color: $title-color;
    text-align: center;
  }

  .inspiration-text {
    margin: 24px auto;
    margin-bottom: 0;
    max-width: 600px;
    font-family: OpenSans;
    font-size: $text-font-size;
    color: $text-color;
    text-align: center;
  }
  
  .inspiration-images {
    display: grid;
    grid-template-columns: 324fr 12fr 68fr 12fr 324fr 12fr 404fr;
    grid-template-rows: auto 12px repeat(3, auto);
    margin-top: 112px;

    .inspiration-image {
      font-size: 0;
      
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    
    .inspiration-image-1 {
      grid-column: 1 / span 3;
    }

    .inspiration-image-2 {
      grid-column: 5 / span 3;
    }

    .inspiration-image-3 {
      grid-row: 3 / span 3;
    }

    .inspiration-image-4 {
      grid-column: 3 / span 3;
      grid-row: 3
    }

    .inspiration-image-5 {
      grid-column: 7;
      grid-row: 3
    }

    .inspiration-image-6 {
      grid-column: 3 / span 5;
      grid-row: 5;
    }
  }
}